# **SQL METHODS**
---
> *In SQL, methods refer to functions or procedures that perform specific tasks within your queries. They are like pre-defined tools that you can use to manipulate, analyze, or interact with your data in various ways.*






---

## WARM UP EXERCISE

**Objective:**
Practice performing CRUD operations (Create, Read, Update, Delete) on a database table.

**Perform the following tasks:**
1. Create a new table named `Books`, with the following columns:
  * BookID (Primary Key, Auto-increment)
  * Title (Title of the book)
  * Author (Author of the book)
  * Genre (Genre of the book)
  * Publication_Year (Year of publication)
  * Price (Price of the Book)
2. Insert at least 3 new books into the `Books` table.
3. Retrieve all books from the Books table.
4. Update the price of a specific book.
5. Delete a book from the table.

### Solution:



---

## DISTINCT

The **DISTINCT** keyword is used to return only distinct (unique) values in the result set of a query. It ensures that duplicate rows are removed from the output.

* **column1, column2, ...**: Columns for which you want to retrieve distinct/unique values.
* **table_name**: The name of the table from which you're retrieving data.



---

## LIMIT

The **LIMIT** clause specifies the maximum number of rows to return in a query result.

It's commonly used for:

*   Pagination: Retrieving results in smaller chunks, often used in web applications to display data in pages.
*   Performance optimization: Limiting the number of rows processed, especially for large datasets, can improve query speed.

* **SELECT *:** This keyword is used to specify which columns you want to retrieve data from. The asterisk denotes that you want to select all columns from the specified table.
 > *The * can be replaced with specific column names.*
* **FROM table_name:** This specifies the table from which you want to retrieve the data.
* **LIMIT number_of_rows:** This limits the number of rows returned in the result set to the specified number.



---

## COUNT

The **COUNT** function is used to count the number of rows in a table or the number of rows matching a specific condition.

### Syntax 1:

* **SELECT COUNT(*):** This tells the database to count the number of rows in the specified table. The *asterisk* inside the COUNT function means you want to count all rows.
* **FROM table_name:** Here, you specify the name of the table from which you want to count the rows.

This query will return the **total number of rows** in the `employees` table.

### Syntax 2:

* **SELECT COUNT(column_name):** This instructs the database to count the number of non-null values in the specified column.
* **FROM table_name:** Here, you specify the name of the table from which you want to count the values.


This will return the total number of non-null values in the **department** column of the `employees` table.



---

## WHERE

The **WHERE** clause is used to filter data retrieved from a database based on specific conditions.

It allows you to narrow down your results to only include rows that meet certain criteria.



> **Common Operators Used in WHERE Clause:**

```
Comparison Operators:
  =: Equal to
  !=: Not equal to
  <: Less than
  >: Greater than
  <=: Less than or equal to
  >=: Greater than or equal to

Logical Operators:
  AND: Used to combine multiple conditions where both must be true.
  OR: Used to combine multiple conditions where at least one must be true.
  NOT: Used to negate a condition.
  
Special Operators:
  BETWEEN: Checks if a value falls within a specified range.
  IN: Checks if a value belongs to a set of values.
  LIKE: Used for pattern matching with wildcards.
  ```

## Combining Operators:

*Here are few examples demonstrating how you can combine different operators in the WHERE clause to create more specific and complex filtering criteria for your queries.*

>See Practice Exercise 1



---

## ORDER BY

The **ORDER BY** clause allows you to sort the results of your SELECT queries in either ascending or descending order. It lets you sort the retrieved data based on one or more columns, making it easier to analyze and interpret.

  * **ASC:** Ascending order (lowest to highest).
  * **DESC:** Descending order (highest to lowest).

* SELECT **column1, column2, ...** : Columns based on which you want to sort the result set.
* FROM **table_name**: The name of the table from which you're retrieving data.
* **ORDER BY**: This keyword introduces the sorting criteria.
  * **ASC**: Sorts data in ascending order (lowest to highest for numbers, A-Z for text).
> This is the default sorting order if ASC is not explicitly mentioned.
  * **DESC**: Sorts data in descending order (highest to lowest for numbers, Z-A for text).



---

## GROUP BY

The **GROUP BY** clause is used to organize and summarize data by grouping rows with the same values in one or more columns. This helps you analyze trends, patterns, and aggregate statistics within your data.

> **Common Aggregate Functions Used with GROUP BY:**
```
  COUNT(): Counts the number of rows in each group.
  SUM(): Calculates the sum of a numeric column for each group.
  AVG(): Calculates the average of a numeric column for each group.
  MAX(): Returns the maximum value of a column for each group.
  MIN(): Returns the minimum value of a column for each group.
```

* SELECT **column1, column2,...** : This specifies a column you want to retrieve from the table (can be used with aggregate functions).
* **aggregate_function(column2)**: This applies an aggregate function (e.g., COUNT, SUM, AVG) to a column to calculate summary statistics for each group.
* **AS alias**: An optional alias for the result of the aggregate function.
* FROM **table_name**: This is the name of the table you want to query.
* **WHERE condition (optional)**: This is an optional clause that filters the data before grouping.
* **GROUP BY column_name1, column_name2,...** : These specify the column(s) used to group the rows. You can group by multiple columns.

>See Practice Exercise 2



---

## HAVING

The **HAVING** clause is used to filter groups of rows created by the GROUP BY clause based on conditions applied to aggregate functions. This allows you to focus on specific groups that meet certain criteria within your summarized data.

* **column1**: This specifies the column(s) you want to retrieve from the table.
* **aggregate_function(column2)**: This applies an aggregate function (e.g., COUNT(), SUM(), AVG()) to a column within each group.
* **table_name**: This is the name of the table you want to query.
* **WHERE condition (optional)**: This is an optional clause that filters the data before grouping.
* **GROUP BY**: This keyword introduces the grouping criteria.
* **column_name1, column_name2, ...**: These are the column(s) used to group the rows.
* **HAVING condition_on_aggregate_function:** This specifies a condition applied to the aggregate function(s) to filter the groups.


> Common Conditions Used with HAVING:
  * Comparisons `(=, >, <, >=, <=)` with the results of aggregate functions.
  * Logical operators `(AND, OR, NOT)` to combine multiple conditions.



---

# JOIN

The JOIN clause is used to combine rows from two or more tables based on a related column between them. It allows you to retrieve data from multiple tables simultaneously, creating a single result set.

> **Types of JOINs:**


```
  INNER JOIN: Returns rows where the join condition is met in both tables.
  LEFT JOIN: Returns all rows from the left table, and matching rows from the right table.
     If there's no match in the right table, NULL values are filled for the right table's columns.
  RIGHT JOIN: Returns all rows from the right table, and matching rows from the left table.
    If there's no match in the left table, NULL values are filled for the left table's columns.
  FULL JOIN: Returns all rows from both tables, regardless of whether there's a match in the join condition.
  CROSS JOIN: combines every row from one table with every row from another table, resulting in the Cartesian product of the two tables.
    This means it creates a new table containing all possible combinations of rows from the joined tables, regardless of any relationship between them.
```

* **column1_from_table1, column2_from_table2, ...** : These specify the columns you want to retrieve from the joined tables.
* **table1** : This is the first table involved in the join.
* **JOIN** : This keyword specifies the type of join.
* **table2** : This is the second table involved in the join.
* **ON table1.join_column = table2.join_column** : This defines the join condition, specifying the columns from both tables that must match for rows to be included in the result.

### Examples:

1.  First, create a new table named `departments` that can be used to join with the existing employees table.

2. Insert values into the newly created table

Use the JOIN clause

>See Practice Exercise 3



---

# CASE...WHEN

The **CASE...WHEN** statement allows you to conditionally assign values to a column based on specific criteria. It's like creating an if-else logic within your SQL query.

* **condition1, condition2, ...** : These are the conditions that are evaluated.
* **value1, value2, ...** : These are the values assigned if the corresponding conditions are true.
* **value_else**: This is the value assigned if none of the conditions are met (optional).
* **new_column_name**: This is the name given to the new column containing the assigned values.

>See Practice Exercise 4