In [1]:
# Enabling our extension
%load_ext sql

# connect the database
%sql sqlite:///abc-corp.db

## HAVING

The **HAVING** clause is used to filter groups of rows created by the GROUP BY clause based on conditions applied to aggregate functions. This allows you to focus on specific groups that meet certain criteria within your summarized data.

In [3]:
%%sql

SELECT department, COUNT(*) AS employee_count
FROM employees
GROUP BY department
HAVING employee_count > 3;
/* This finds departments with more thean 3 employees */

 * sqlite:///abc-corp.db
Done.
Done.

[]

In [2]:
%%sql
SELECT department, AVG(salary) AS avg_salary, COUNT(*) AS num_employees
FROM employees
WHERE salary > 40000
GROUP BY department
HAVING AVG(salary) > 50000 AND COUNT(*) > 3;
/* Find departments with an average salary greater than 50000 and where the number of employees is greater than 3. */

 * sqlite:///abc-corp.db
Done.
Done.

[]

## JOIN

The JOIN clause is used to combine rows from two or more tables based on a related column between them. It allows you to retrieve data from multiple tables simultaneously, creating a single result set.

In [ ]:
%%sql

-- INNER JOIN
SELECT employee_id, first_name, last_name, department_name
FROM employees
INNER JOIN departments ON department = department_name

/*
  This query retrieves only employees who belong to departments that exist in the departments table.
  It matches rows based on the department column in the employees table and the department_name column in the departments table.
*/


-- LEFT JOIN
SELECT e.employee_id, e.first_name, e.last_name, d.department_name, e.hire_date
FROM employees AS e
LEFT JOIN departments AS d ON e.department = d.department_name;

/*
  This query retrieves all employees from the employees table, even if their department doesn't exist in the departments table.
  It matches rows based on the department column in the employees table and the department_name column in the departments table.
  However, for employees whose department isn't found in departments, the department_name will be null.
*/


-- RIGHT JOIN
SELECT e.employee_id, e.first_name, e.last_name, d.department_name, e.hire_date
FROM employees AS e
RIGHT JOIN departments AS d ON e.department = d.department_name;

/*
  This query retrieves all departments from the departments table, even if there are no employees associated with that department in the employees table.
  It matches rows based on the department column in the employees table and the department_name column in the departments table.
  However, for departments without matching employees, the employee information columns will be null.
*/


-- FULL JOIN
SELECT e.employee_id, e.first_name, e.last_name, d.department_name, e.salary, e.hire_date
FROM employees AS e
FULL JOIN departments AS d ON e.department = d.department_name;

/*
  This query retrieves all employees from the employees table and all departments from the departments table, regardless of whether there's a matching row in the other table.
  It combines the results from both left join and right join, potentially including null values in either employee or department information when there's no match.
*/


-- CROSS JOIN
SELECT e.first_name, e.last_name, d.department_name
FROM employees AS e
CROSS JOIN departments AS d
LIMIT 20;

/*
  This query will result in a large dataset where every employee name is paired with every department name,
  even though there might not be a real-world relationship between them (e.g., an employee might not belong to every department).
  Then we limit it to display the first 20 results.
*/

## CASE...WHEN

The **CASE...WHEN** statement allows you to conditionally assign values to a column based on specific criteria. It's like creating an if-else logic within your SQL query.

In [ ]:
%%sql

-- 1
SELECT Product_Name,
       CASE
           WHEN Price < 2 THEN 'Cheap'
           WHEN Price >= 2 AND Price <= 5 THEN 'Moderate'
           ELSE 'Expensive'
       END AS Price_Range
FROM Product_Data;


--2
SELECT OrderID, Quantity,
       CASE
           WHEN Quantity <= 2 THEN 'Small Order'
           ELSE 'Large Order'
       END AS Order_Category
FROM Orders;


--3
SELECT Product_Name, Price,
       CASE
           WHEN Product_Type = 'Fruit' AND Price < 2 THEN 'Cheap Fruit'
           WHEN Product_Type = 'Meat' AND Price > 5 THEN 'Expensive Meat'
           ELSE 'Other'
       END AS Category
FROM Product_Data;