# **SQL METHODS**

In SQL, methods refer to functions or procedures that perform specific tasks within your queries. They are like pre-defined tools that you can use to manipulate, analyze, or interact with your data in various ways.

## Setting Up SQL Environment in Jupyter Notebook

### **SELECT**

The SELECT statement in SQL retrieves data from one or more tables, allowing users to specify columns to fetch and apply filters, sorting, and aggregations to manipulate the data returned.

## DISTINCT

The **DISTINCT** keyword is used to return only distinct (unique) values in the result set of a query. It ensures that duplicate rows are removed from the output.

## LIMIT
The **LIMIT** clause specifies the maximum number of rows to return in a query result.


It's commonly used for:


*   Pagination: Retrieving results in smaller chunks, often used in web applications to display data in pages.
*   Performance optimization: Limiting the number of rows processed, especially for large datasets, can improve query speed.

## COUNT

The **COUNT** function is used to count the number of rows in a table or the number of rows matching a specific condition.

## WHERE

The **WHERE** clause is used to filter data retrieved from a database based on specific conditions.

It allows you to narrow down your results to only include rows that meet certain criteria.

### Comparison Operators:
#### `=:` Equal to

#### `!=` : Not equal to

#### `<` : Less than

#### `>` : Greater than

#### `<=` : Less than or equal to

#### `>=` : Greater than or equal to

### Logical Operators:
#### AND: Used to combine multiple conditions where both must be true.

#### OR: Used to combine multiple conditions where at least one must be true.

#### NOT: Used to negate a condition.

### Special Operators:
#### BETWEEN: Checks if a value falls within a specified range.

#### IN: Checks if a value belongs to a set of values.
similar to `=` but it will allow you to select multiple values.

#### LIKE: Used for pattern matching with wildcards.

## ORDER BY

The **ORDER BY** clause allows you to sort the results of your SELECT queries in either ascending or descending order. It lets you sort the retrieved data based on one or more columns, making it easier to analyze and interpret.

**ASC:** Ascending order (lowest to highest).

**DESC:** Descending order (highest to lowest).

### Sorting multiple columns

## GROUP BY

The **GROUP BY** clause is used to organize and summarize data by grouping rows with the same values in one or more columns. This helps you analyze trends, patterns, and aggregate statistics within your data.

### Grouping with COUNT()

### Grouping with SUM()

### Grouping with AVG()

### Grouping with MAX() and MIN()